.modal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .productImage {
    max-width: 50%;
    height: auto;
    margin-right: 20px; 
  }
  
  .product-details {
    flex: 1; 
    padding: 80px;
    font-weight: bold;
    font-size: medium;
    font-style: italic;
  }

  .modal_styles  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
    width: 70%;
    border: 1px solid black;
    border-radius: 40px;
  }
  
   .overlay_styles  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end; 
    padding: 20px;
  }
  
  .modal-footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  #productname {
    text-align: center;
  }

  #price {
    color: red;
    font-weight: bold;
    font-size: large;
    font-style: normal;
  }

  
  .price-history-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .price-history-table th,
  .price-history-table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .price-history-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .price-history-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .price-history-table tbody tr:hover {
    background-color: #e0e0e0;
  }